body {
  font-family: Helvetica, Arial, sans-serif;
}

#enter_roll_form {
  display: none;
}

#frames {
  border: solid black;
  padding: 20px;
  border-collapse: collapse;
}

td, th {
  width: 100px;
  border: 1px solid black;
  text-align: center;
}

tr {
  height: 30px;
}

#selection {
  display: none;
}

.numbers {
  display: inline-block;
  border-radius: 10px;
  border: 2px solid #6495ED;
  background-color: #BCD2EE;
  width: 30px;
  color: #6495ED;
  list-style-type: none;
  padding: 5px;
  opacity: 0.5;
  text-align: center;
}