body {
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica Neue';
  text-decoration: none;
}

#wrapper {
  padding-top: 10px;
  background-image: url('/images/bowling.jpeg');
  background-size: 100% 100%;
  height: 750px;
  background-repeat: no-repeat;
  text-align: center;
}

header {
  position: absolute;
  top: -190px;
  width: 600px;
  height: 150px;
  left: 50%;
  margin-left: -300px;
  border-radius: 10px;
  border: 2px solid #c0392b;
  background-color: #e74c3c;
  color: #FFFFFF;
  opacity: 0.8;
  padding-top: none;
  padding-bottom: 20px;
}

#name_submit {
  background-color: #c0392b;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

#pin_request {
  display: none;
}

#table {
  position: absolute;
  top: 230px;
  left: 50%;
  margin-left: -260px;
}

#frames {
  border: solid black;
  padding: 20px;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, .5);
  margin-top: 20px;
}

td, th {
  font-size: 12px;
  width: 100px;
  border: 1px solid black;
  text-align: center;
}

tr {
  height: 20px;
}

#selection {
  position: absolute;
  width: 600px;
  height: 80px;
  display: none;
  left: 50%;
  margin-left: -320px;
  top: 180px;
  text-align: center;
}

#list li {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  border: 2px solid #c0392b;
  background-color: #e74c3c;
  width: 30px;
  color: #FFFFFF;
  list-style-type: none;
  padding: 5px;
  opacity: 0.8;
  text-align: center;
  cursor: pointer;
}

#messages {
  display: none;
}

#message_box {
  z-index: -1;
  position: absolute;
  top: 80px;
  left: 20px;
  width: 150px;
  text-align: left;
  display: inline-block;
}